/* Add this css so we can see when the action (orange) keys are highlighted */


.ui-keyboard-button.ui-state-active.ui-state-hover {
    border: 2px solid #fff;
/*    -moz-box-shadow: 1px 1em 1px #ffba2b inset;*/
/*    -webkit-box-shadow: 1px 1em 1px #ffba2b inset;*/
/*    box-shadow: 1px 1em 1px #59b4d4 inset;*/
}


/* Class added to indicate the virtual keyboard has navigation focus */


.hasFocus {
    border-color: #59b4d4;
}
