.peek-a-bar {
    margin: 0;
    position: fixed;
/*    display: table;*/
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9999;
    font-weight: normal;
    color: white;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    font-family: "Arial";
}

