@charset "utf-8";

/* CSS Document */

@import url("keyboard.css");
@import url("keyboardNavi.css");
@import url("jquery.datetimeentry.css");
@import url("c3.css");
@import url("c3ppp.css");
@import url("peekabar.css");
@import url("scadaAlert.css");

/*@import url("c3.css");*/


/*-Ustawienie wielkosci czcionki w zaleznosci od wielkosci okna*/


/*
@media screen and (min-width: 300px) {
    body {
        font-size: 0.6em;
        cursor: none;
    }
}
@media screen and (min-width: 1000px) {
    body {
        font-size: 0.7em;
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 0.75em;
    }
}
@media screen and (min-width: 1400px) {
    body {
        font-size: 0.8em;
    }
}
*/

@media screen and (min-width: 300px) {
    body {
        font-size: 0.45em;
    }
}


@media screen and (min-width: 700px) {
    body {
        font-size: 0.55em;
    }
}

@media screen and (min-width: 1000px) and (min-height: 500px) {
    body {
        font-size: 0.6em
    }
}

@media screen and (min-width: 1000px) and (min-height: 700px) {
    body {
        font-size: 0.65em;
    }
}

html {
    margin: 0;
    padding: 0;
    background-color: rgb(96, 96, 96);
    height: 100%;
    overflow: hidden;
}

body {
    position: fixed;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*    cursor: none;*/
    /*
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
*/
}

.ui-tabs .ui-tabs-nav li {
    /* Modyfikacja szerokosci tabow jQuerryUI */
    height: 100%;
    text-align: center;
    width: 15%;
}

.ui-tabs .ui-tabs-nav li a {
    /* Wycentrowanie tekstu w tabach jQuerryUI */
    width: 85%;
}

.ui-tabs .ui-tabs-panel {
    /* Skalowanie do wielkosci ekranu tabow */
    /*    overflow: hidden !important;*/
    padding-left: 0.2em !important;
    padding-top: 0.2em !important;
}

.selectable .ui-selecting {
    background: #FECA40;
}

.selectable .ui-selected {
    background: #F39814;
    color: white;
}

.selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.selectable li {
    font-weight: normal;
    margin: 3px;
    padding: 0.1em;
}


/*---------------------------------- Tab 1 - główny--------------------------------*/

div#tab1_info1 {
    border: 0.1em solid;
    border-color: grey;
    height: 24%;
    width: 100%;
    margin: 3px;
    padding: 3px;
}

div#tab1_komunikat {
    height: 95%;
    width: 38%;
    padding-left: 0.2em;
    padding-right: 0.9em;
    float: left;
    font-weight: bold;
}

div#tab1_statusy {
    height: 98%;
    width: 60%;
    float: right;
}

div#tab1_info2 {
    border: 0.1em solid;
    border-color: grey;
    width: 100%;
    margin: 3px;
    padding: 3px;
}

div#grafika {
    border: 0.1em solid;
    border-color: grey;
    width: 100%;
    /*    margin: 3px;*/
    padding: 3px;
}

p#p_tekstAlarmu {
    padding-left: 0.2em;
    height: 40%;
    width: 99%;
    font-weight: bold;
    letter-spacing: 0.1em;
    /*    vertical-align: text-bottom !important;*/
}

table.tabelaPojedyn {
    width: 99%;
    padding: 0.2em;
    border-collapse: separate;
    border-spacing: 0.2em;
}

.tdOpisTabPoj {
    text-transform: uppercase;
    text-align: left;
    width: 65%;
    padding: 0.1em;
    padding-left: 1.0em;
    letter-spacing: 0.2em;
}

.tdWartoscTabPoj {
    /*    text-transform: uppercase;*/
    text-align: center;
    letter-spacing: 0.2em;
}

div#tab1_info2 {
    padding: 0;
    text-align: center;
    vertical-align: text-bottom;
}

div#tab1_dol1,
div#tab1_dol3 {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 35%;
    height: 99%;
    vertical-align: top;
}

div#tab1_dol2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 30%;
    height: 99%;
    vertical-align: top;
}


/*---------------------------------------------------------------------------------------------------------------*/

div#DialogWersjaInfo {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.Gauge {
    /*
    width: 19em;
    height: 9.5em;
*/
    width: 18em;
    height: 10em;
    /* to + 1 aby było miejscie na drugą linijkę tekstu z opisem */
    display: inline-block;
    margin: 0.0em;
    padding: 0;
}

.OknaDialog {
    text-align: center;
    overflow: hidden;
    position: fixed;
}

.ui-menu {
    width: 25%;
    text-align: left;
}

.ui-menu .ui-menu {
    width: 95%;
    text-align: left;
}

.ui-menu .ui-menu .ui-menu-multilevel {
    width: 35em;
    text-align: left;
}

.ui-dialog-titlebar-close {
    /*  Pozbycie sie ikonki krzyzyka zamykajacego okno dialogowe  */
    visibility: hidden;
}

div.panelTab {
    /* Buttony sa umieszczone w sekcji aby uzyskac odpowiednie marginesy dla calej grupy od krawedzi Tabow */
    text-align: center;
    width: 100%;
    height: 98%;
    margin: 0 auto;
}

button.przyciskMenuGlowne,
button.przyciskMenuGULTrybSerw,
button.przyciskMenuPodmianaPLC,
button.przyciskMenuPoziomDost,
button.przyciskMenuRegulatory,
button.przyciskMenuDiagnostBlokow,
button.przyciskMenuParametry {
    width: 75%;
    height: 2.2em;
    padding-left: 3%;
    margin-top: 1.0%;
    text-align: left;
    letter-spacing: 0.3em;
}

button.przyciskMenuParametrySzybkie {
    width: 95%;
    height: 2.1em;
    padding-left: 3%;
    margin-top: 1.0%;
    text-align: left;
    letter-spacing: 0.1em;
}

table.tabelaMain {
    width: 100%;
    height: 1em;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

td.kolumnaMain {
    vertical-align: top;
    width: 50%;
}

table.tabelaSub {
    /*    border-collapse: collapse !important;*/
    border: 1px solid #999999;
    border-radius: 1em;
    width: 99.5%;
    margin-top: 1.0em;
    padding: 0;
    border-spacing: 0;
}

td.tdOpis {
    width: 75%;
    margin: 0px;
    margin-right: 1.5em;
    padding-left: 0.5em;
}

td.tdWartosc {
    width: 25%;
    margin: 1px;
    border-radius: 0.5em;
    border: 1px solid #363636;
    transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
}

td.tdOpisKolumny {
    width: 62%;
    margin: 0px;
    margin-right: 1.5em;
    padding-left: 0.5em;
}

td.tdWartoscKolumny {
    width: 38%;
    margin: 1px;
    border-radius: 0.5em;
    border: 1px solid #363636;
    transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
}

.overflow {
    height: 35em;
}

.ui-button .ui-icon.polska {
    background-image: url("../obrazki/Poland.png") !important;
}

.ui-button .ui-icon.rosja {
    background-image: url("../obrazki/Russia.png") !important;
}

.ui-button .ui-icon.chiny {
    background-image: url("../obrazki/China.png") !important;
}

.ui-button .ui-icon.argentyna {
    background-image: url("../obrazki/Argentina.png") !important;
}

.ui-button .ui-icon.anglia {
    background-image: url("../obrazki/Britain.png") !important;
}

.jezyki_tab {
    background-image: url("../obrazki/Poland.png");
    background-repeat: no-repeat;
    background-position: left center;
    /*    background-attachment: fixed;*/
}

#dateEntry::selection {
    background: #0000a0;
    color: red;
    /* WebKit/Blink Browsers */
}

#dateEntry::-moz-selection {
    background: #0000a0;
    color: red;
    /* Gecko Browsers */
}

#dateEntry::-webkit-selection {
    background: #0000a0;
    color: red;
}

#dateEntry::-ms-selection {
    background: #0000a0;
    color: red;
}


/*
#dateEntry::-moz-selection {
    color: red;
}

#dateEntry::selection {
    color: red;
}*/
